<!DOCTYPE html>
<html>
<head>
	<title>VueJS - Tuto Graphikart 6/15</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/menu.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">

	<style>
		.main.container{
			padding: 50px;
		}
		.icon{
			margin-top: 20px;
			width: 10px;
			height: 10px;
			background: red;
		}
		.close{
			background: black;
		}
		.success{
			color: #00FF00;
		}
		.error{
			color: #FF0000;
		}
		.header{
			color: black;
			text-transform: uppercase;
			font-size: 18px;
		}
	</style>
</head>
<body>
	<div class="ui inverted fixed menu">
		<div class="header item">Tutoriel</div>
	</div>
	<!-- on englobe notre code vue JS par un élément auquel on donne un ID-->
	<div class="ui main container" id="app">
		<form-user v-model="user">
			<div slot="haut">Texte à l'intérieur du composant form-user, en haut.</div>
			<div slot="bas">Texte à l'intérieur du composant form-user, en bas.</div>
		</form-user>
		<pre>
			 {{ user }}
		</pre>
		<br>
		<message state="error" :message="message" header="Attention !" v-if="alertOk" @close="hideAlert"></message>
		<button @click="showAlert">Alerter</button>
		<counter :start="3"></counter>
		<counter></counter>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	<script src="js/app.js"></script>
</body>
</html>